*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #1f2937;
    color: #f9faf8;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.logo{
    font-size: 24px;
    font-weight: 600;
    margin-right: 50px;
    
}

.logo-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
}


ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    justify-content: center;
    width: 500px;
}

.welcome-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text{
    width: 300px;
    margin-left: 90px;
    margin-right: 160px;
    flex: 0;
}


.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.info-title{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 50px;
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info{
    max-width: 200px;
}

.info-text{
    margin-top: 20px;
    margin-bottom: 20px;
}

.info > img{
    border-radius: 5%;
    border: 3px solid #3882F6 ;
}

.body-2{
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 600px;
}