*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    background-color: #1f2937;
    color: #f9faf8;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.logo{
    font-size: 24px;
    font-weight: 600;
    margin-right: 50px;
    
}

.logo-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
}


ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    justify-content: center;
    width: 500px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.welcome-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text{
    width: 300px;
    margin-left: 90px;
    margin-right: 160px;
    flex: 0;
}

.sign-up-1{
    height: 30px;
    width: 100px;
    margin-top: 20px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 20px;
}

.info-title{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 50px;
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info{
    max-width: 200px;
}

.info-text{
    margin-top: 20px;
    margin-bottom: 20px;
}

.info > img{
    border-radius: 5%;
    border: 3px solid #3882F6 ;
}

.body-2{
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 600px;
}

.author{
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin-left: 400px;
}

.body-3{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coa-container{
    height: 150px;
    width: 1000px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-2{
    height: 30px;
    width: 80px;
    margin: 20px;
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: 700;
    border-color: #f9faf8;
    border-radius: 5px;
}

.coa-header{
    font-size: 28px;
    font-weight: 700;
}

.footer{
    background-color: #1f2937;
    color: #E5E7EB;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}